<%namespace name='static' file='../static_content.html'/>
<%!
  from django.conf import settings
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _, pgettext
  from contentstore.context_processors import doc_url
  from contentstore import utils
%>
<%page args="online_help_token"/>
## mako
% if not settings.DEBUG and 'testbox' not in settings.SITE_NAME:
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter30413407 = new Ya.Metrika({id:30413407,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/30413407" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
% endif

% if context_course:
<%
    course_key = context_course.id
    index_url = reverse('contentstore.views.course_handler', kwargs={'course_key_string': unicode(course_key)})
    checklists_url = reverse('contentstore.views.checklists_handler', kwargs={'course_key_string': unicode(course_key)})
    course_team_url = reverse('contentstore.views.course_team_handler', kwargs={'course_key_string': unicode(course_key)})
    assets_url = reverse('contentstore.views.assets_handler', kwargs={'course_key_string': unicode(course_key)})
    textbooks_url = reverse('contentstore.views.textbooks_list_handler', kwargs={'course_key_string': unicode(course_key)})
    videos_url = reverse('contentstore.views.videos_handler', kwargs={'course_key_string': unicode(course_key)})
    import_url = reverse('contentstore.views.import_handler', kwargs={'course_key_string': unicode(course_key)})
    course_info_url = reverse('contentstore.views.course_info_handler', kwargs={'course_key_string': unicode(course_key)})
    export_url = reverse('contentstore.views.export_handler', kwargs={'course_key_string': unicode(course_key)})
    settings_url = reverse('contentstore.views.settings_handler', kwargs={'course_key_string': unicode(course_key)})
    grading_url = reverse('contentstore.views.grading_handler', kwargs={'course_key_string': unicode(course_key)})
    tabs_url = reverse('contentstore.views.tabs_handler', kwargs={'course_key_string': unicode(course_key)})
    certificates_url = ''
    if settings.FEATURES.get("CERTIFICATES_HTML_VIEW") and context_course.cert_html_view_enabled:
        certificates_url = reverse('contentstore.views.certificates.certificates_list_handler', kwargs={'course_key_string': unicode(course_key)})

    advanced_settings_url = reverse('contentstore.views.advanced_settings_handler', kwargs={'course_key_string': unicode(course_key)})
    show_advanced_settings_link = utils.has_access_to_advanced_settings(user, context_course.id)
%>
% elif context_library:
<%
    library_key = context_library.location.course_key
    index_url = reverse('contentstore.views.library_handler', kwargs={'library_key_string': unicode(library_key)})
    import_url = reverse('contentstore.views.import_handler', kwargs={'course_key_string': unicode(library_key)})
    lib_users_url = reverse('contentstore.views.manage_library_users', kwargs={'library_key_string': unicode(library_key)})
    export_url = reverse('contentstore.views.export_handler', kwargs={'course_key_string': unicode(library_key)})
%>
% endif

<header id="global-navigation" class="global ${"slim" if context_course or context_library else ""}" >
  <nav class="nav-wrapper" aria-label="${_('Global')}">
    <h1 class="logo logo-edbox">
      <a href="//${settings.LMS_BASE}">
        ed<span class="logo-suffix">box</span>
      </a>
    </h1>

    % if context_course:
    <h2 class="info-course">
      <span class="sr">${_("Current Course:")}</span>
      <a class="course-link" href="${index_url}">
        <span class="provider-number">
          ${context_course.display_org_with_default | h}
          ${context_course.display_number_with_default | h}
        </span>
        <span class="course-title" title="${context_course.display_name_with_default}">${context_course.display_name_with_default}</span>
      </a>
    </h2>
    % elif context_library:
    <h2 class="info-course">
      <span class="sr">${_("Current Library:")}</span>
      <a class="course-link" href="${index_url}">
        <span class="course-org">${context_library.display_org_with_default | h}</span><span class="course-number">${context_library.display_number_with_default | h}</span>
        <span class="course-title" title="${context_library.display_name_with_default}">${context_library.display_name_with_default}</span>
      </a>
    </h2>
    % endif

    % if user.is_authenticated():
    <ol class="nav-global authenticated">
          <li class="nav-global-01">
          <a href="${reverse('homepage')}">${_('Create Courses')}</a>
          </li>
          % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
          <li class="nav-global-02">
            <a href="//${settings.LMS_BASE}/courses">${_('Find Courses')}</a>
          </li>
          % endif
        %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
          <li>
            ## Translators: This is short for "System administration".
            <a href="//${settings.LMS_BASE}/sysadmin">${_("Sysadmin")}</a>
          </li>
        %endif
    </ol>
    <div class="nav-wrapper nav-user-wrapper">
    <ol class="nav-user authenticated nav-dd ui-right">
      <li class="nav-item nav-account-user nav-dd">
        <h3 class="title">
            <span class="label">
                <span class="label-prefix sr">${_("Currently signed in as:")}</span>
                <a href="//${settings.LMS_BASE}/dashboard" class="account-username" title="${ user.username }">${ user.username }</a>
            </span>
            <i class="icon fa fa-caret-down ui-toggle-dd"></i>
        </h3>

        <div class="wrapper wrapper-nav-sub">
          <div class="nav-sub">
            <ul>
              <li class="nav-item nav-account-dashboard">
                <a href="//${settings.LMS_BASE}/dashboard">${pgettext("user dropdown menu", "Dashboard")}</a>
              </li>
              <li class="nav-item">
                <a href="//${settings.LMS_BASE}/u/${user.username}">${pgettext("user dropdown menu", "Personal Profile")}</a>
              <li class="nav-item">
                <a href="//${settings.LMS_BASE}/account/settings">${pgettext("user dropdown menu", "Account Settings")}</a></li>
              <li class="nav-item nav-account-signout">
                <a class="action action-signout" href="${reverse('logout')}">${_("Sign Out")}</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ol>
    </div>
    % else:
    <ol class="nav-global">
          <li class="nav-global-06">
            <a href="${reverse('homepage')}">${_('Create Courses')}</a>
          </li>
          % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
          <li class="nav-global-05">
            <a class="cta cta-discovery" href="//${settings.LMS_BASE}/courses">${_('Find Courses')}</a>
          </li>
          % endif
          <li class="nav-global-04">
            <a class="cta cta-register" href="//${settings.LMS_BASE}/register?next=${'//' + request.get_host() + request.path | u}">${_("Register")}</a>
          </li>
    </ol>

    <div class="nav-wrapper nav-user-wrapper">
      <ol class="nav-user">
        <li class="nav-user-01">
          <a class="cta cta-login" href="//${settings.LMS_BASE}/login?next=${'//' + request.get_host() + request.path | u}">${_("Sign In")}</a>
        </li>
      </ol>
    </div>
    % endif
  </nav>
</header>
% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${_('<strong>Warning:</strong> Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.').format(chrome_link='<a href="https://www.google.com/chrome" target="_blank">Chrome</a>', ff_link='<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>')}</div>
<![endif]-->
% endif
<div class="wrapper-header wrapper" id="view-top">
  % if context_course:
  <nav class="nav-course nav-dd ui-left" aria-label="${_('Course')}">
    <h2 class="sr">${_("Course Navigation")}</h2>
    <ol>
      <li class="nav-item nav-course-courseware">
        <h3 class="title"><span class="label"><span class="label-prefix sr">${_("Course")} </span>${_("Content")}</span> <i class="icon fa fa-caret-down ui-toggle-dd"></i></h3>

        <div class="wrapper wrapper-nav-sub">
          <div class="nav-sub">
            <ul>
              <li class="nav-item nav-course-courseware-outline">
                <a href="${index_url}">${_("Outline")}</a>
              </li>
              <li class="nav-item nav-course-courseware-updates">
                <a href="${course_info_url}">${_("Updates")}</a>
              </li>
              <li class="nav-item nav-course-courseware-pages">
                <a href="${tabs_url}">${_("Pages")}</a>
              </li>
              <li class="nav-item nav-course-courseware-uploads">
                <a href="${assets_url}">${_("Files &amp; Uploads")}</a>
              </li>
              <li class="nav-item nav-course-courseware-textbooks">
                <a href="${textbooks_url}">${_("Textbooks")}</a>
              </li>
              % if context_course.video_pipeline_configured:
              <li class="nav-item nav-course-courseware-videos">
                <a href="${videos_url}">${_("Video Uploads")}</a>
              </li>
              % endif
            </ul>
          </div>
        </div>
      </li>

      <li class="nav-item nav-course-settings">
        <h3 class="title"><span class="label"><span class="label-prefix sr">${_("Course")} </span>${_("Settings")}</span> <i class="icon fa fa-caret-down ui-toggle-dd"></i></h3>

        <div class="wrapper wrapper-nav-sub">
          <div class="nav-sub">
            <ul>
              <li class="nav-item nav-course-settings-schedule">
                <a href="${settings_url}">${_("Schedule &amp; Details")}</a>
              </li>
              <li class="nav-item nav-course-settings-grading">
                <a href="${grading_url}">${_("Grading")}</a>
              </li>
              <li class="nav-item nav-course-settings-team">
                <a href="${course_team_url}">${_("Course Team")}</a>
              </li>
              % if user.is_staff:
              <li class="nav-item nav-course-settings-group-configurations">
                <a href="${reverse('contentstore.views.group_configurations_list_handler', kwargs={'course_key_string': unicode(course_key)})}">${_("Group Configurations")}</a>
              </li>
              % endif
              % if show_advanced_settings_link:
              <li class="nav-item nav-course-settings-advanced">
                <a href="${advanced_settings_url}">${_("Advanced Settings")}</a>
              </li>
              % endif
              % if certificates_url:
              <li class="nav-item nav-course-settings-certificates">
                <a href="${certificates_url}">${_("Certificates")}</a>
              </li>
              % endif
            </ul>
          </div>
        </div>
      </li>

      <li class="nav-item nav-course-tools">
        <h3 class="title"><span class="label">${_("Tools")}</span> <i class="icon fa fa-caret-down ui-toggle-dd" aria-hidden="true"></i></h3>
        <div class="wrapper wrapper-nav-sub">
          <div class="nav-sub">
            <ul>
              <li class="nav-item nav-course-tools-checklists">
                <a href="${checklists_url}">${_("Checklists")}</a>
              </li>
              <li class="nav-item nav-course-tools-import">
                <a href="${import_url}">${_("Import")}</a>
              </li>
              <li class="nav-item nav-course-tools-export">
                <a href="${export_url}">${_("Export")}</a>
              </li>
              % if settings.FEATURES.get('ENABLE_EXPORT_GIT') and context_course.giturl:
              <li class="nav-item nav-course-tools-export-git">
                <a href="${reverse('export_git', kwargs=dict(course_key_string=unicode(course_key)))}">${_("Export to Git")}</a>
              </li>
              % endif
            </ul>
          </div>
        </div>
      </li>
    </ol>
  </nav>
  % elif context_library:
  <nav class="nav-course nav-dd ui-left" aria-label="${_('Library')}">
    <h2 class="sr">${_("Library Navigation")}</h2>
    <ol>
      <li class="nav-item nav-library-settings">
        <h3 class="title"><span class="label"><span class="label-prefix sr">${_("Library")} </span>${_("Settings")}</span> <i class="icon fa fa-caret-down ui-toggle-dd"></i></h3>
        <div class="wrapper wrapper-nav-sub">
          <div class="nav-sub">
            <ul>
              <li class="nav-item nav-library-settings-team">
                <a href="${lib_users_url}">${_("User Access")}</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="nav-item nav-course-tools">
        <h3 class="title"><span class="label">${_("Tools")}</span> <i class="icon fa fa-caret-down ui-toggle-dd"></i></h3>

        <div class="wrapper wrapper-nav-sub">
          <div class="nav-sub">
            <ul>
              <li class="nav-item nav-course-tools-import">
                <a href="${import_url}">${_("Import")}</a>
              </li>
              <li class="nav-item nav-course-tools-export">
                <a href="${export_url}">${_("Export")}</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ol>
  </nav>
  % endif
</div>
