<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from edxmako.shortcuts import marketing_link
%>

<div class="wrapper-footer wrapper">
  <footer id="footer-openedx" class="primary" role="contentinfo">
    <div>
      <nav class="colophon" aria-label="${_('About')}">
        <ol class="nav-colophon">
            % if marketing_link('ABOUT') != '#':
            <li class="nav-colophon-01">
              <a id="about" href="${marketing_link('ABOUT')}">${_('About')}</a>
            </li>
            % endif
            % if marketing_link('FAQ') != '#':
            <li class="nav-colophon-02">
              <a id="faq" href="${marketing_link('FAQ')}">${_('FAQ')}</a>
            </li>
            % endif
            % if marketing_link('PRICES') != '#':
            <li class="nav-colophon-03">
              <a id="prices" href="${marketing_link('PRICES')}">${_('Prices')}</a>
            </li>
            % endif
            % if marketing_link('SUPPORT') != '#':
            <li class="nav-colophon-04">
              <a id="support" href="${marketing_link('SUPPORT')}">${_('Support Forum')}</a>
            </li>
            % endif
            % if marketing_link('CONTACT') != '#':
            <li class="nav-colophon-05">
              <a id="contact" href="${marketing_link('CONTACT')}">${_('Contact')}</a>
            </li>
            % endif
        </ol>
      </nav>
      <div class="social-media-links">
        <%
            facebook_url = settings.ENV_TOKENS.get('PLATFORM_FACEBOOK_ACCOUNT', None)
            twitter_url = settings.ENV_TOKENS.get('PLATFORM_TWITTER_URL', None)
            google_plus_url = settings.ENV_TOKENS.get('PLATFORM_GOOGLE_PLUS_URL', None)
            vk_url = settings.ENV_TOKENS.get('PLATFORM_VK_URL', None)
        %>
        % if facebook_url:
        <a href="${facebook_url}" class="sm-link external" title="${_('Facebook')}" rel="noreferrer">
          <span class="icon fa fa-facebook-square" aria-hidden="true"></span>
          <span class="sr">${_("Like {platform_name} on Facebook").format(platform_name=settings.PLATFORM_NAME)}</span>
        </a>
        % endif
        % if twitter_url:
        <a href="${twitter_url}" class="sm-link external" title="${_('Twitter')}" rel="noreferrer">
          <span class="icon fa fa-twitter" aria-hidden="true"></span>
          <span class="sr">${_("Follow {platform_name} on Twitter").format(platform_name=settings.PLATFORM_NAME)}</span>
        </a>
        % endif
        % if google_plus_url:
        <a href="${google_plus_url}" class="sm-link external" title="${_('Google+')}" rel="noreferrer">
          <span class="icon fa fa-google-plus-square" aria-hidden="true"></span>
          <span class="sr">${_("Follow {platform_name} on Google+").format(platform_name=settings.PLATFORM_NAME)}</span>
        </a>
        % endif
        % if vk_url:
        <a href="${vk_url}" class="sm-link external" title="${_('VK')}" rel="noreferrer">
          <span class="icon fa fa-vk" aria-hidden="true"></span>
          <span class="sr">${_("Follow {platform_name} on VK").format(platform_name=settings.PLATFORM_NAME)}</span>
        </a>
        % endif
      </div>
    </div>

    <div class="wrapper-legal">
      ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
      <p class="copyright">
        ${_(u"\u00A9 {year} {org_name}. All rights reserved except where noted. EdX, Open edX and the edX and Open EdX logos are registered trademarks or trademarks of edX Inc.").format(
          org_name=settings.PLATFORM_NAME,
          year=settings.COPYRIGHT_YEAR
        )}
      </p>
      <nav class="nav-legal" aria-label="${_('Legal')}">
        <ul>
            % if marketing_link('PRIVACY') != '#':
            <li class="nav-legal-01">
              <a href="${marketing_link('PRIVACY')}">${_('Privacy Policy')}</a>
            </li>
            % endif
            % if marketing_link('TOS') != '#':
            <li class="nav-legal-02">
              <a href="${marketing_link('TOS')}">${_('Terms of Service')}</a>
            </li>
            % endif
        </ul>
      </nav>
    </div>

    ## Please leave this link and use one of the logos provided
    ## The OpenEdX link may be hidden when this view is served
    ## through an API to partner sites (such as marketing sites or blogs),
    ## which are not technically powered by OpenEdX.
    % if not hide_openedx_link:
    <div class="footer-about-openedx footer-about-edbox">
      <p>
        <a class="about-openedx" href="http://open.edx.org" title="${_("Powered by Open edX")}">
          <img alt="${_("Powered by Open edX")}" src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag.png">
        </a>
        <a class="lektorium" href="https://lektorium.tv" title="${_("Supported by Lektorium")}">
          <img alt="${_("Supported by Lektorium")}" src="https://www.lektorium.tv/sites/lektorium.tv/files/static_attachments/lektorium_horisontal_color.png" width="120">
        </a>
     </p>
    </div>
    % endif
  </footer>
</div>

