/***** additional colors *****/
$edbox-dd-hover: #3c3c3c;
$edbox-light-gray: #f2f2f2;
$gray-l3: tint($gray,60%);  // #cbcbcb

/***** Common theming *****/
$edbox-link-color: #009fe6;
$edbox-logo-suffix-color: #b92b6d;
/* Header */
header.global {
    box-sizing: border-box;
    padding: 0 20px !important;
    width: 100%;
    height: 76px;
    background-color: $white;

    .logo img {
        height: 60px;
        max-width: inherit;
    }
    .logo-beta img {
        height: 68.5px;
        padding-top: 8px;
    }

    &.slim {
        height: 50px !important;

        .logo img {
            height: 45px !important;
            vertical-align: bottom;
        }
        .logo-beta img {
            height: 51px !important;
            padding-top: 3px;
        }

        h1.logo {
            padding-right: 10px !important;

            &:before {
                display: none !important;
            }
        }
    }

    nav {
        height: 100% !important;
        margin: 0 auto;
        padding: 0;
        display: table;
        width: 100%;
        max-width: 1180px;
        min-width: 800px;
        height: 100%;
    }

    nav h1,
    &.slim nav h2,
    .nav-global,
    .nav-user-wrapper {
        vertical-align: middle;
        text-align: right;
        float: none !important;
        line-height: 1 !important;
    }

    nav h1,
    .nav-global,
    .nav-user-wrapper {
        display: table-cell !important;
    }

    h2 {
        position: relative;
        display: none;
        width: auto;

        a {
            color: $gray-d1;
            line-height: 1;
        }
        span {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .course-org, .course-number, .provider {
            opacity: 0.75;
            margin-right: .5ex;
        }
        .course-title {
            font-weight: bold;
            display: block;
            max-width: 450px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &.slim h2 {
        padding: 0 20px !important;
        border-width: 0;
        width: auto !important;
        text-align: left !important;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        text-transform: none;
        font-size: 14px;
    }
    &.slim h2:before {
        content: "";
        display: block;
        height: 35px;
        position: absolute;
        left: 3px;
        top: 0;
        background-image: -webkit-linear-gradient(-450deg, rgba(200,200,200,0) 0%, #c8c8c8 50%, rgba(200,200,200,0));
        background-image: linear-gradient(180deg, rgba(200,200,200,0) 0%, #c8c8c8 50%, rgba(200,200,200,0));
        height: 100%;
        width: 1px;
    }

    .nav-global {
        display: inline-block;
        width: 100%;
        margin: 2px 10px 0 0;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0 !important;

        a {
            display: table-cell;
            padding: 6px;
            color: $edbox-link-color !important;
            font-size: 14px !important;
        }
        li {
            display: inline-block;
            white-space: nowrap;
            @include margin-right($baseline);

            &:last-child {
                @include margin-right(0);
            }
        }
    }
    .nav-user {
        text-align: left !important;
        padding: 0 !important;
        margin: 0 0 2px 0 !important;

        .cta-login {
            box-shadow: 0 2px 1px 0 #0a4a67;
            background: $m-blue-d3;
            color: $white;
            padding: 10px 20px;
            text-align: center;
            border-radius: 2px;
            margin: 2px 0 2px 1em;
            display: inline-block;
            text-decoration: none;
            line-height: 1;
        }
        .cta-login{
            &:hover, &:active, &:focus {
                background: $m-blue-d1;
            }
            &:focus {
                box-shadow: 0 0 6px 0 $m-blue-d3;
            }
        }
    }
    .nav-account-user {
        @include margin-left(10px);
    }
}
.view-in-course header.global.slim nav h2,
.course header.global.slim nav h2 {
    display: table-cell;
}
/* Footer */
.wrapper-footer footer#footer-openedx {
    .social-media-links {
        text-align: right;
        font-size: 24px;
        margin-bottom: 30px;
    }
    .wrapper-legal, .footer-about-openedx {
        display: table-cell !important;
        vertical-align: bottom !important;
    }
    .wrapper-legal {
        padding-right: 2em;
    }
    .nav-legal li:first-child a:before {
        @include margin-right(0);
        content: "";
    }
    .nav-legal li a:before {
        @include margin-right($baseline/4);
        content: "-";
    }
    .footer-about-openedx {
        width: 270px !important;
        float: none !important;
        a {
            float: none !important;
            vertical-align: bottom;
        }
    }
    .about-openedx {
        margin-bottom: -3px;
    }
    .lektorium {
        text-align: left;
        padding-top: 0 !important;
        line-height: 1 !important;

        &, & img {
            width: 140px !important;
            margin-top: -3px;
            margin-bottom: -2px;
        }

        &:before {
            content: "supported by";
            font-variant: small-caps;
            font-size: 12.5px;
            font-weight: bold;
            color: #bbb;
        }
    }
}
/***** LMS-specific *****/
header.global {
    .nav-wrapper {
        padding-left: 20px;
        padding: 0 !important;
    }
    .nav-global li:last-child {
        @include margin-right($baseline !important);
    }

    .nav-user {
        border: solid 1px #fff;
        border-radius: 4px;
        padding: 1px 5px !important;

        &.authenticated:hover {
            border-color: $gray-l3;
        }

        li.primary {
            display: table-cell !important;
            float: none !important;

            &>a {
                background-image: none;
                padding: 4px 5px !important;
                font-size: 16px !important;
                line-height: 1.5 !important;
            }
            a.user-link div {
                margin: 0;
                float: none;
                font-weight: 600;
            }
        }
        .fa-sort-desc {
            opacity: 0.25;
            transition: all 0.25s ease-in-out 0s;
            transform-origin: 50% 50%;

            &:hover {
                opacity: 1;
            }
            &:before {
                content: "\f0d7";
            }
        }
    }

    .nav-account-user h3.title {
        padding: 0 5px !important;
        display: table-cell;
    }

    .user .dropdown-menu {
        padding: 10px 15px;

        li {
            margin-top: 3px;
            padding-top: 2px;
            border-top: 1px solid $edbox-light-gray;

            &:first-child {
                padding-top: 0;
            }

            &>a {
                margin: 0;
                color: $edbox-link-color !important;
                font-size: 14px;
                transition: color 0.25s ease-in-out 0s;
            }
            &:hover a {
                color: $edbox-dd-hover !important;
            }
        }
    }
    .course-title {
        display: block;
    }
}
.wrapper-footer footer#footer-openedx .nav-legal .nav-legal-02 a:before {
    content: "";
    @include margin-right(0);
}
/* Static pages */
.container {
  &.faq, &.tos, &.contact, &.about-eduardo {
    max-width: 40ex;

    p, summary, .tos-list, details>ul, details>ol {
      font-size: 120%;
      line-height: 1.4;
    }
    h1 {
        font-size: 200%;
    }
  }
}
.container.support {
  max-width: 30rem;
  min-width: 30rem;

  ul {
    padding-left:0;
  }

  li {
    list-style-type: none;
    margin-bottom: 10px;
  }

  label {
    display: block;
    font-weight: bold;
    font-style: normal;
  }

  input, textarea, button {
    widtH:  100%;
  }
}
.container.tos {
  ul, li {
    list-style-type: none;
    padding-left: 0;
  }

  li+li {
    margin-top: 10px;
  }

  .tos-list>li {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;

    ul {
      text-transform: none;
      font-weight: normal;
    }
  }
}

// faq details and corresponding polyfill
.container.faq {

  details {
    border-bottom: solid 1px $edbox-light-gray;

    &:last-child {
      border-bottom-width: 0;
    }

    summary {
      padding: ($baseline/2) 0;
      font-weight: 600;
      cursor: default;
    }

    ul {
      list-style-type: "–";
    }

    p {
      margin: 1em 0;
    }
  }
}

summary:before {
  content: "+";
  display: inline-block;
  font-weight: 600;
  padding: 0;
  margin-right: 5px;
  text-align: center;
  width: 25px;
  border-radius: 15px;
}

summary:hover:before {
    background-color: $edbox-light-gray;
}

.details {
  summary::-webkit-details-marker {
    display: none
  }
  details[open] summary:before {
    content: "×";
  }
}
.no-details details {
  &>* {
    position: absolute;
    visibility: hidden;
  }

  &>summary, &[open]>* {
    position: static;
    visibility: visible;
  }


  & summary {
    display: block;
  }

  &[open]>summary:before {
    content:"×"
  }
}

.container.about-eduardo {
  max-width: 60rem;

  .about-eduardo-person {
    float: right;
    opacity: 0.7;
    margin-left: -50px;
  }

  p {
    position: relative;
  }
}

.container.about .support-success {
    background-color: #ffffe0;
    border: solid 1px #ffdfa3;
    text-align: center;
    padding: 10px;
}

/* Courseware search page */
.search-results .search-results-item .result-link {
    top: 0 !important;
}
/* Dashboard */
.dashboard .profile-sidebar {
    border-top-width: 0 !important;
}
/* Upstream fix for combined registration form */
.login-register .form-field label[for="register-terms_of_service"] {
    display: inline-block;
    vertical-align: top;
    margin: 5px 5px 0 0 ;
    width: 90%;
}
