<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
<section class="container about faq details">
<h1>${_("FAQ")}</h1>

<details>
  <summary>Как мне зарегистрироваться на Eduardo?</summary>
  <p>На главной странице <a href="//eduardo.studio">Eduardo</a> нажмите кнопку «Регистрация» в правом верхнем углу или перейдите по <a href="/register">ссылке</a>, заполните все поля и следуйте указанным действиям.</p>
</details>

<details>
  <summary>Я забыл свой пароль, что мне делать?</summary>
  <p>На главной странице <a href="//eduardo.studio">Eduardo</a> нажмите кнопку «Вход». Рядом с полем ввода пароля вы увидите надпись «Забыли пароль?», нажмите на нее и следуйте указаниям.</p>
</details>
<details>
  <summary>Могу ли я пользоваться Eduardo со своего смартфона/планшета?</summary>
  <p>На данный момент Eduardo не имеет мобильной версии. Вы можете открыть Eduardo используя мобильный браузер на смартфоне/планшете, но имейте в виду, что в данном случае некоторые компоненты не будут доступны.</p>
</details>

<details>
  <summary>Что делать, если у меня возникли технические проблемы с регистрацией, авторизацией или доступом к курсу?</summary>
  <p>Большинство проблем с регистрацией, авторизацией или доступ к курсам вызвано проблемами браузера. Попробуйте произвести следующие действия:</p>
  <ul>
    <li>Обновите браузер до последней версии (Chrome, Firefox, Safari и т.д.)
    <li>Проверьте настройки браузера, убедитесь, что JavaScript и cookies включены
    <li>Очистите кэш браузера
  </ul>
  <p>Если проблема осталась, то обратитесь в службу технической поддержки, написав письмо на адрес <a href="mailto:support@eduardo.studio">support@eduardo.studio</a>.</p>
</details>

<details>
  <summary>Как мне правильно настроить время запуска курса/регистрации, открытия главы/раздела курса?</summary>
  <p>Дело в том, что Eduardo использует всемирное координированное время (UTC). Чтобы для слушателей курса отображалось московское время, нужно от него отнять 3 часа и выставить полученное время в настройках. Если вы хотите, чтобы регистрация на курс открылась в 12:00 по московскому времени, в настройках вам нужно выставить 9:00.</p>
</details>

<details>
  <summary>Как узнать оценки слушателей курса?</summary>
  <p>В Eduardo вы можете выгрузить отчет по оценкам слушателей. Чтобы это сделать, зайдите в раздел редактирования курса (http://editor.eduardo.studio/course/...), далее нажмите кнопку «Просмотр текущей версии», перейдите в раздел «Управление курсом».</p>
  <p>Там можно посмотреть оценки двумя способами:</p>
  <ol>
    <li>Если слушателей небольшое количество, то оценочный лист можно посмотреть прямо на сайте. Зайдите в раздел «Данные студентов» и нажмите кнопку «Просмотр журнала оценок», через некоторое время появятся оценки.
    <li>Если у вас обучается достаточно большое количество людей, то удобнее выгрузить отчет в таблице. Зайдите в раздел «Скачивание данных» и нажмите кнопку «Создать оценочный лист». Потребуется какое-то время, чтобы Eduardo сформировал отчет, наберитесь терпения.
  <ol>
</details>

<details>
<summary>Кому виден мой профиль в Эдуардо?</summary>
<p>Личный профиль пользователей открыт и виден всему интернету. Вы можете настроить видимость: полный профиль или ограниченный профиль.</p>
<p>Полный профиль подразумевает всю информацию, которую вы внесете в настройках, а так же список созданных вами курсов. Это может быть удобно для слушателей: пройдя один курс, они смогут посмотреть какие еще курсы есть у данного пользователя. О настройках видимости курсов читайте в следующем пункте.</p>

<p>Ограниченный профиль — это только ваше имя и аватар.</p>
</details>

<details>
<summary>Что такое видимость курсов, и где она настраивается?</summary>
<p>Курсы можно сделать видимыми или скрыть от слушателей на вашей странице (личный профиль). Даже на скрытые курсы можно приглашать слушателей и, если они записаны, то они будут видеть курс в своем личном кабинете. Видимость влияет только на отображение в профиле создателя курса.</p>
<p>Настроить видимость можно в Конструкторе курсов. Напротив каждого курса есть кнопка с изображением глаза. Нажмите на нее, чтобы отобразить или скрыть курс.</p>
</details>

</section>
</main>
<script type="text/javascript">
$(function(){

  var isDetailsSupported = (function(doc) {
    var el = doc.createElement('details'),
        fake,
        root,
        diff;
    if (!('open' in el)) {
      return false;
    }
    root = doc.body || (function() {
      var de = doc.documentElement;
      fake = true;
      return de.insertBefore(doc.createElement('body'), de.firstElementChild || de.firstChild);
    }());
    el.innerHTML = '<summary>a</summary>b';
    el.style.display = 'block';
    root.appendChild(el);
    diff = el.offsetHeight;
    el.open = true;
    diff = diff != el.offsetHeight;
    root.removeChild(el);
    if (fake) {
      root.parentNode.removeChild(root);
    }
    return diff;
  }(document));

  if (! isDetailsSupported){
    $('.faq').removeClass('details').addClass('no-details');

    $(document).on('click', 'summary', function(event){
    var $summary = $(this);
    var $details = $summary.parent();

    if ($details.attr('open'))
      $details.removeAttr('open')
    else
      $details.attr('open', 'open')
    });
  }

});
</script>
