<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
<section class="container about tos">
<h1>Правила использования платформы «Eduardo»</h1>
<p><b>Публичная оферта</b></p>
<p>
Настоящая публичная оферта (далее – <strong>«Правила»</strong>), в соответствии со ст. 437 Гражданского кодекса Российской Федерации, определяет порядок предоставления услуг по размещению и доведению до всеобщего сведения образовательных курсов на платформе «Eduardo» (далее – <strong>«Платформа»</strong>), а также взаимные права, обязанности и порядок взаимоотношений между Обществом с ограниченной ответственностью «Лекториум», в лице генерального директора Сомова Я.М., действующего на основании Устава, именуемым в дальнейшем <strong>«Администрацией платформы»</strong> или <strong>«Администрацией»</strong> и пользователем услуг, именуемым в дальнейшем <strong>«Пользователь»</strong>, принявшим (акцептировавшим) настоящее публичное предложение (оферту).
</p>
<p>
Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на Платформе. Регистрация Пользователя на Платформе означает полное и безоговорочное принятие (акцепт) Пользователем настоящих Правил в соответствии со ст. 438 Гражданского кодекса Российской Федерации.
</p>
<p>
Настоящие Правила могут быть изменены и/или дополнены Администрацией в одностороннем порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом. Действующая редакция Правил располагается в сети Интернет по адресу: <a href="http://lms.eduardo.studio/tos">http://lms.eduardo.studio/tos</a>. Продолжение использования Платформы Пользователем после внесения изменений и/или дополнений в настоящие Правила означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.
</p>

<ul class="tos-list">
<li>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
  <ul>
    <li>1.1. <strong>Платформа</strong> – сайт в сети Интернет, расположенный по адресу <a href="http://eduardo.studio">http://eduardo.studio</a>, состоящий из совокупности программы для ЭВМ и информации (далее – <strong>«Контент»</strong>), размещенной на нем Администрацией и/или Пользователями.
    <li>1.2. <strong>Пользователь</strong> – физическое лицо, зарегистрированное на Платформе в соответствии с установленным настоящими Правилами порядком. При этом, возможна регистрация от имени и поручению юридического лица при условии получения необходимых полномочий в порядке и форме, предусмотренных законодательством Российской Федерации.
    <li>1.3. <strong>Администрация и/или Администрация Платформы</strong> – Общество с ограниченной ответственностью «Лекториум» - юридическое лицо, созданное по законодательству Российской Федерации и зарегистрированное по адресу: 196135, Санкт-Петербург, ул. Гастелло д. 10, лит А, пом. 17н.
    <li>1.4. <strong>Регистрационная форма</strong> – форма регистрации Пользователя Платформы, расположенная по адресу <a href="http://lms.eduardo.studio/register">http://lms.eduardo.studio/register</a> и определяющая поля, обязательные для заполнения, а также содержащая ряд удостоверительных процедур для подтверждения регистрации Пользователя (включая, но не ограничиваясь: распознавание автоматизированного теста, предназначенного для различия компьютеров и людей; активация личного кабинета через сообщение, отправленное Администрацией на электронную почту Пользователя).
    <li>1.5. <strong>Личный кабинет</strong> – раздел Платформы, доступ к которому предоставляется Пользователю после прохождения процедуры регистрации. Личный кабинет содержит все основные инструменты, необходимые для работы с Платформой и предоставляет Пользователю возможности (включая, но не ограничиваясь):
    <li>1.5.1. Создавать собственные образовательные курсы.
    <li>1.5.2. Приглашать других Пользователей в качестве соавторов собственных образовательных курсов.
    <li>1.5.3. Открывать публичный доступ к собственным образовательным курсам.
    <li>1.5.4. Проводить и проходить онлайн обучение на образовательных курсах с помощью инструментов Платформы, в том числе обмениваться сообщениями со слушателями Платформы на специализированном форуме.
    <li>1.5.5. Приглашать слушателей пройти обучение на собственных образовательных курсах.
    <li>1.5.6. Информировать слушателей собственных образовательных курсов о начале обучения, окончании обучения, результатах тестирования и прочей важной для обучения информации.
    <li>1.6. Термины, не определенные настоящими Правилами, используются в значении, придаваемом им действующим законодательством, и/или исходя из общего смысла и целей Правил.
  </ul>
</li>

<li>2. РЕГИСТРАЦИЯ НА ПЛАТФОРМЕ
 <ul>
     <li>2.1. Регистрация Пользователей на Платформе является бесплатной, добровольной и производится через заполнение Регистрационной формы.
     <li>2.2. Регистрируясь на Платформе, Пользователь подтверждает, что он достиг возраста, допустимого в соответствии с законодательством Российской Федерации для акцепта настоящих Правил и обладает соответствующими для этого полномочиями.
     <li>2.3. При регистрации на Платформе Пользователь обязан предоставить необходимую достоверную и актуальную информацию для формирования Личного кабинета Пользователя, в соответствии с Регистрационной формой.
     <li>2.4. Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству Российской Федерации предоставленной при регистрации информации и ее чистоту от претензий третьих лиц.
     <li>2.5. В случае верного последовательного выполнения всех регистрационных действий создается Личный кабинет Пользователя, имеющий сетевой адрес вида <a href="http://lms.eduardo.studio/dashboard">http://lms.eduardo.studio/dashboard</a>.
     <li>2.6. Администрация обязуется использовать персональные данные Пользователя в соответствии с Федеральным Законом «О персональных данных» № 152-ФЗ от 27 июля 2006 г. и внутренними документами Администрации. Администрация принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Администрации, которым эта информация необходима для обеспечения функционирования Платформы и предоставления Пользователю доступа к его использованию.
     <li>2.7. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя на Платформу. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения. В случае несанкционированного доступа к логину и паролю и/или Личному кабинету Пользователя, Пользователь обязан незамедлительно сообщить об этом Администрации по электронной почте: <a href="mailto:support@eduardo.studio">support@eduardo.studio</a>.
     <li>2.8. После регистрации Пользователь получает право самостоятельно в некоммерческих целях создавать, использовать и определять содержание Личного кабинета, а также изучать публичный Контент других Пользователей, в том числе проходить обучение на образовательных курсах, публикуемых Пользователями по адресу: <a href="http://lms.eduardo.studio">http://lms.eduardo.studio</a> и открытых для публичного некоммерческого личного использования.
 </ul>
</li>

<li>3. ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ
 <ul>
   <li>3.1. При использовании Платформы Пользователь обязан:
     <ul>
       <li>3.1.1. Соблюдать положения действующего законодательства Российской Федерации, настоящих Правил и иных специальных документов Администрации.
       <li>3.1.2. Предоставлять при регистрации достоверные, полные и актуальные данные, следить за их актуализацией.
       <li>3.1.3. Не предоставлять доступ другим Пользователям к Личному кабинету в случае, если это может привести к нарушению законодательства Российской Федерации и/или настоящих Правил, специальных документов Администрации.
       <li>3.1.4. Не размещать в Личном кабинете информацию и объекты (включая ссылки на них), которые могут нарушать права и интересы других лиц.
       <li>3.1.5. Хранить в тайне и не предоставлять другим Пользователям и третьим лицам ставшие ему известными в результате взаимодействия с другими Пользователями и иного использования Платформы персональные данные (включая, но не ограничиваясь: домашними адресами, номерами телефонов, адресами электронной почты, паспортными данными, банковской информацией) и информацию о частной жизни других Пользователей и третьих лиц без получения соответствующего письменного разрешения последних.
       <li>3.1.6. Осуществлять резервное копирование важной для Пользователя информации, хранящейся в его Личном кабинете.
     </ul>
   </li>
   <li><strong>3.2. При использовании Платформы Пользователю ЗАПРЕЩАЕТСЯ:</strong>
     <ul>
       <li>3.2.1. Загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать любую информацию, которая:
         <ul>
           <li>3.2.1.1. пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства;
           <li>3.2.1.2. содержит экстремистские материалы;
           <li>3.2.1.3. пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;
           <li>3.2.1.4. содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни других Пользователей или третьих лиц;
           <li>3.2.1.5. нарушает права несовершеннолетних лиц;
           <li>3.2.1.6. является вульгарной или непристойной, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних;
           <li>3.2.1.7. содержит рекламу или описывает привлекательность употребления наркотических веществ, в том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению;
           <li>3.2.1.8. содержит сцены бесчеловечного обращения с животными;
           <li>3.2.1.9. содержит описание средств и способов суицида, любое подстрекательство к его совершению;
           <li>3.2.1.10. носит мошеннический характер;
           <li>3.2.1.11. содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц;
           <li>3.2.1.12. а также нарушает иные права и интересы граждан и юридических лиц или требования законодательства Российской Федерации.
         </ul>
       <li>3.2.2. Использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования Платформы или персональных страниц Пользователей.
       <li>3.2.3. Загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать вирусы, трояны и другие вредоносные программы.
       <li>3.2.4. Любым способом, в том числе, но не ограничиваясь: путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к логину и паролю другого Пользователя.
       <li>3.2.5. Осуществлять незаконные сбор и обработку персональных данных других лиц.
       <li>3.2.6. Размещать любую другую информацию, которая, по мнению Администрации, является нежелательной, не соответствует целям создания Платформы, ущемляет интересы Пользователей или по другим причинам является нежелательной для размещения на Платформе.
       <li>3.2.7. Пользователь несет личную ответственность за любую информацию, которую размещает на Платформе (в том числе за личные сообщения), а также за любые взаимодействия с другими Пользователями, осуществляемые на свой риск.
     </ul>
   </li>
 </ul>
</li>

<li>4. ПРАВА НА ИНТЕЛЛЕКТУАЛЬНУЮ СОБСТВЕННОСТЬ
  <ul>
   <li>4.1. Использование Платформы не предоставляет Пользователю право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации. Указанное право может быть предоставлено исключительно по письменному соглашению с Администрацией.
   <li>4.2. Пользователь, размещая на Платформе принадлежащий ему на законных основаниях Контент, предоставляет другим Пользователям неисключительное право на его использование путем просмотра, воспроизведения (в том числе копирования), переработки (в том числе на распечатку копий) и иные права исключительно с целью личного некоммерческого использования, кроме случаев, когда такое использование причиняет или может причинить вред охраняемым законом интересам правообладателя.
   <li>4.3. Использование Пользователем Контента, доступ к которому получен исключительно для личного некоммерческого использования, допускается при условии сохранения всех знаков авторства (копирайтов) или других уведомлений об авторстве, сохранения имени автора в неизменном виде, сохранении произведения в неизменном виде.
   <li>4.4. Пользователь предоставляет также Администрации неисключительное право использовать на безвозмездной основе размещенный на Платформе и принадлежащий ему на законных основаниях Контент в целях обеспечения Администрацией функционирования Платформы в объеме, определяемом функционалом и архитектурой Платформы. Указанное неисключительное право предоставляется на срок размещения Контента на Платформе, включает право переработки Контента путем размещения и для последующего показа совместно с Контентом и/или с его использованием Контента рекламной информации и распространяет свое действие на территории стран всего мира. Администрация вправе передавать права, указанные в настоящем пункте третьим лицам.
   <li>4.5. Если Пользователь удаляет свой Контент с Платформы, неисключительное право, упомянутое в п. 4.4. настоящих Правил, будет автоматически отозвано, однако Администрация оставляет за собой право в случае необходимости, обусловленной техническими особенностями работы Платформы, сохранять архивные копии пользовательского Контента в течение необходимого срока.
   <li>4.6. Кроме своего собственного Контента, Пользователь не вправе загружать или иным образом доводить до всеобщего сведения Контент других сайтов, баз данных и прочие результаты интеллектуальной деятельности третьих лиц, при отсутствии явным образом выраженного согласия правообладателя на такие действия.
   <li>4.7. Пользователь гарантирует, что к Администрации не будут применены меры ответственности по искам/претензиям третьих лиц в отношении нарушения Пользователем интеллектуальных прав на Контент, а также обязуется возместить Администрации все убытки, причиненные в связи с предъявлением претензии (исковых требований) связанных с нарушением прав, предусмотренных п. 4.2. и 4.6. настоящих Правил.
   <li>4.8. Ссылка на любой сайт, продукт, услугу, любую информацию коммерческого и/или некоммерческого характера, размещенную на Платформе, не является одобрением или рекомендацией данных продуктов (услуг) со стороны Администрации.
 </ul>
</li>

<li>5. ОТВЕТСТВЕННОСТЬ ПРИ ИСПОЛЬЗОВАНИИ ПЛАТФОРМЫ
  <ul>
   <li>5.1. Администрация Платформы предоставляет техническую возможность ее использования Пользователями, но не участвует в формировании содержания Личных кабинетов Пользователей и не контролирует и не несет ответственности за действия или бездействие любых лиц в отношении использования Платформы или формирования и использования содержания Личных кабинетов Пользователей.
   <li>5.2. Администрация не занимается предварительной модерацией информации Пользователей и предпринимает действия по защите прав и интересов лиц и обеспечению соблюдения требований законодательства Российской Федерации только после обращения заинтересованного лица к Администрации в установленном порядке.
   <li>5.3. Администрация не несет ответственности за нарушение Пользователем настоящих Правил и оставляет за собой право по своему собственному усмотрению, а также при получении информации от других Пользователей, либо третьих лиц о нарушении Пользователем настоящих Правил, изменять или удалять любую публикуемую Пользователем информацию, нарушающую запреты, установленные настоящими Правилами, приостанавливать, ограничивать или прекращать доступ Пользователя к функционалу Платформы в любое время по любой причине или без объяснения причин, с предварительным уведомлением или без оного. Администрация закрепляет за собой право удалить Личный кабинет Пользователя, если Администрация обнаружит, что по ее мнению, Пользователь представляет угрозу для Платформы и/или его Пользователей. Администрация реализует описанные выше меры в соответствии с применимым законодательством и не несет ответственности за возможные негативные последствия таких мер для Пользователя или третьих лиц.
   <li>5.4. Администрация обеспечивает функционирование и работоспособность Платформы и обязуется оперативно восстанавливать ее работоспособность в случае технических сбоев и перерывов. Администрация не несет ответственности за временные сбои и перерывы в работе Платформы и вызванные ими потерю информации. Администрация не несет ответственности за любой ущерб компьютеру Пользователя или иного лица, мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный с использованием материалов Платформы или по ссылкам, размещенным на Платформе.
   <li>5.5. Администрация имеет право распоряжаться статистической информацией, связанной с функционированием Платформы, а также информацией Пользователей для обеспечения адресного показа рекламной информации.
   <li>5.6. Для целей организации функционирования и технической поддержки Платформы и исполнения настоящих Правил Администрация имеет техническую возможность доступа к Личным кабинетам Пользователей, которую реализует только в случаях, установленных настоящими Правилами.
   <li>5.7. Администрация имеет право направлять Пользователю информацию о развитии Платформы и ее функционала, а также рекламировать собственную деятельность.
   <li>5.8. Платформа и ее функционал предоставляются «как есть». Администрация отказывается от всяких гарантий того, что Платформа или ее функционал может не подходить или не подходит для конкретных целей использования. Администрация не гарантирует и не обещает никаких особых результатов от использования Платформы или ее функционала.
   <li>5.9. Ни при каких обстоятельствах Администрация или ее представители не несут ответственность перед Пользователями и/или третьими лицами за любой косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству и деловой репутации, вызванный в связи с использованием Платформы или иных материалов, к которым Пользователи и/или третьи лица получили доступ с помощью Платформы, даже если Администрация предупреждала или указывала на возможность такого вреда.
  <ul>
</li>

<li>6. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
  <ul>
   <li>6.1. Нарушение настоящих Правил и действующего законодательства Российской Федерации влечет за собой гражданско-правовую, административную и уголовную ответственность.
   <li>6.2. Настоящие Правила вступают в силу для Пользователя с момента его присоединения к ним (акцепта) и действуют в течение неопределенного срока.
   <li>6.3. Если по тем или иным причинам одно или несколько положений настоящих Правил будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений.
   <li>6.4. Вопросы, касающиеся использовании Платформы и/или настоящих Правил могут быть направлены на электронную почту: <a href="mailto:support@eduardo.studio">support@eduardo.studio</a>.
  </ul>
</li>
</ul>
</section>
</main>
