/***** missing variables *****/
$gray: rgb(118,118,118);    // #767676 AA compliant
$gray-d1: shade($gray,20%); // #656565
$gray-l3: tint($gray,60%);  // #cbcbcb
$m-blue-d1: rgb(23,144,199); // #1790C7
$m-blue-d3: rgb(18,111,154); // #126F9A
$edbox-light-gray: #f2f2f2;

$font-opensans-path: '../themes/edbox/cms/fonts/open-sans';

@font-face {
    font-family: "Open-Sans";
    src: url("#{$font-opensans-path}/OpenSans-Regular.eot");
    src: url("#{$font-opensans-path}/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("#{$font-opensans-path}/OpenSans-Regular.woff") format("woff"),
    url("#{$font-opensans-path}/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/***** Common theming *****/
$edbox-link-color: #009fe6;
$edbox-logo-suffix-color: #b92b6d;
/* Header */
header.global {
    box-sizing: border-box;
    padding: 0 20px !important;
    width: 100%;
    height: 76px;
    background-color: $white;

    .logo img {
        height: 60px;
        max-width: inherit;
    }
    .logo-beta img {
        height: 68.5px;
        padding-top: 8px;
    }

    &.slim {
        height: 50px !important;

        .logo img {
            height: 45px !important;
            vertical-align: bottom;
        }
        .logo-beta img {
            height: 51px !important;
            padding-top: 3px;
        }

        h1.logo {
            padding-right: 10px !important;

            &:before {
                display: none !important;
            }
        }
    }

    nav {
        height: 100% !important;
        margin: 0 auto;
        padding: 0;
        display: table;
        width: 100%;
        max-width: 1180px;
        min-width: 800px;
        height: 100%;
    }

    nav h1,
    &.slim nav h2,
    .nav-global,
    .nav-user-wrapper {
        vertical-align: middle;
        float: none !important;
        text-align: right;
        line-height: 1 !important;
    }
    nav h1,
    .nav-global,
    .nav-user-wrapper {
        display: table-cell !important;
    }

    h2 {
        position: relative;
        display: none;
        width: auto;

        a {
            color: $gray-d1;
            line-height: 1;
        }
        span {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .course-org, .course-number, .provider {
            opacity: 0.75;
            margin-right: .5ex;
        }
        .course-title {
            font-weight: bold;
            display: block;
            max-width: 450px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &.slim h2 {
        padding: 0 20px !important;
        border-width: 0;
        width: auto !important;
        text-align: left !important;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        text-transform: none;
        font-size: 14px;
    }
    &.slim h2:before {
        content: "";
        display: block;
        height: 35px;
        position: absolute;
        left: 3px;
        top: 0;
        background-image: -webkit-linear-gradient(-450deg, rgba(200,200,200,0) 0%, #c8c8c8 50%, rgba(200,200,200,0));
        background-image: linear-gradient(180deg, rgba(200,200,200,0) 0%, #c8c8c8 50%, rgba(200,200,200,0));
        height: 100%;
        width: 1px;
    }

    .nav-global {
        display: inline-block;
        width: 100%;
        margin: 2px 10px 0 0;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0 !important;

        a {
            display: table-cell;
            padding: 6px;
            color: $edbox-link-color !important;
            font-size: 14px !important;
        }
        li {
            display: inline-block;
            white-space: nowrap;
            @include margin-right($baseline);

            &:last-child {
                @include margin-right(0);
            }
        }
    }
    .nav-user {
        text-align: left !important;
        padding: 0 !important;
        margin: 0 0 2px 0 !important;

        .cta-login {
            box-shadow: 0 2px 1px 0 #0a4a67;
            background: $m-blue-d3;
            color: $white;
            padding: 10px 20px;
            text-align: center;
            border-radius: 2px;
            margin: 2px 0 2px 1em;
            display: inline-block;
            text-decoration: none;
            line-height: 1;
        }
        .cta-login{
            &:hover, &:active, &:focus {
                background: $m-blue-d1;
            }
            &:focus {
                box-shadow: $m-blue-d3;
            }
        }
    }
    .nav-account-user {
        @include margin-left(10px);
    }
}
.view-in-course header.global.slim nav h2,
.course header.global.slim nav h2 {
    display: table-cell;
}
/* Footer */
.wrapper-footer footer#footer-openedx {
    .social-media-links {
        text-align: right;
        font-size: 24px;
        margin-bottom: 30px;
    }
    .wrapper-legal, .footer-about-openedx {
        display: table-cell !important;
        vertical-align: bottom !important;
    }
    .wrapper-legal {
        padding-right: 2em;
    }
    .nav-legal li:first-child a:before {
        @include margin-right(0);
        content: "";
    }
    .nav-legal li a:before {
        @include margin-right($baseline/4);
        content: "-";
    }
    .footer-about-openedx {
        width: 270px !important;
        float: none !important;
        a {
            float: none !important;
            vertical-align: bottom;
        }
    }
    .about-openedx {
        margin-bottom: -3px;
    }
    .lektorium {
        text-align: left;
        padding-top: 0 !important;
        line-height: 1 !important;

        &, & img {
            width: 140px !important;
            margin-top: -3px;
            margin-bottom: -2px;
        }

        &:before {
            content: "supported by";
            font-variant: small-caps;
            font-size: 12.5px;
            font-weight: bold;
            color: #bbb;
        }
    }
}
/***** missing footer style *****/
.wrapper-footer {
    background-color: $white;

    footer#footer-openedx {
        .colophon {
            display: block;
            width: 70%;
        }
        .nav-colophon {
            margin: 5px 0 30px;
            font-size: 16px;
        }
        .nav-colophon li {
            display: inline-block;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
            a {
                color: tint($black, 20%);
                &:hover, &:focus, &:active {
                  color: $ui-link-color;
                }
            }
        }
        .nav-legal li {
            display: inline-block;
        }
        a {
            @include transition(link-color 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s);
            border-bottom: none;
            color: $ui-link-color;
            text-decoration: none !important;

            &:hover, &:focus, &:active {
                border-bottom: 1px dotted $ui-link-color;
            }
        }
    }
}
/***** CMS-specific *****/
header.global .nav-wrapper {
    position: relative;
    z-index: 200;
}
.nav-account-user h3.title {
    padding: 0 !important;
    display: table-cell;
}

header.global nav, .nav-course {
    max-width: 1280px;
}

.wrapper.wrapper-view {
    position: relative;
}

.wrapper-header {
    z-index: 101;
    box-shadow: none !important;
    background-color: $edbox-light-gray !important;

    .nav-course {
        display: block !important;
        width: auto !important;
        margin: 0 auto;
        padding: 5px 0;
    }

    .nav-dd h3.title{
        background: $edbox-light-gray;
        border-color: $edbox-light-gray;
    }

    .course-title {
        display: block;
    }
}
.nav-user {
    .title, .icon {
        display: table-cell !important;
        float: none !important;
        padding: 5px;
    }

    .label, .nav-user .icon {
        display: table-cell !important;
        float: none !important;
        padding: 5px;
    }
    h3 a {
        background-image: none;
        font-size: 16px !important;
        line-height: 1.5 !important;
        color: $offBlack;
    }
    .account-username {
        font-weight: 600;
    }

    .fa-caret-down {
        opacity: 0.25;
        transition: all 0.25s ease-in-out 0s;
        transform-origin: 50% 50%;
    }

    .fa-caret-down:hover {
        opacity: 1;
    }

    &.authenticated {
        .nav-user.authenticated .nav-sub a:hover {
            color: $offBlack;
        }
        &>li {
            margin: 0 0 0 20px !important;
            border: solid 1px $white;
            border-radius: 4px;
            padding: 0 5px !important;

            &:hover {
                border-color: $gray-l3;
            }
        }
    }
    .wrapper-nav-sub {
        z-index: 102;
        top: 40px !important;
    }

}
.wrapper-footer {
    footer.primary .footer-about-openedx {
        .lektorium {
            vertical-align: top;
            text-align: left;

            span {
                color: #bbb;
                font-variant: small-caps;
                line-height: 1;
                font-size: 12.5px;
                display: none;
            }
            img {
                margin-top: -5px;
            }
        }
    }
}
// hide external help
.content-supplementary .external-help a {
    display: none;
}
.view-dashboard .content-supplementary .bit {
    display: none;
}
.view-dashboard .content-primary {
    width: 100%;
}

/* course actions buttons */
.wrapper-mast .mast.has-actions .nav-actions .nav-item {
    @include margin-right(0 !important);
    @include margin-left($baseline/2);
    margin-bottom: ($baseline/4);

    &:first-child {
    @include margin-left(0);
    }
}
